.sicons
{
  display: flex;
  float: right;
  padding:25px;
  top: 200px;
}
body
{
  font-family: serif;
  background-color:#fffff0;
}
.ban{
  text-align: center;
  background-color: black;
}
nav
{
  height: 55px;
  padding:19px;
  background:black;
  display: flex;
  justify-content: center;
}
a 
{
  color:#ffffff;
  padding:15px;
	text-decoration:none;
}
nav a:hover
{
background:#996515;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
  padding:auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
	width:100%;
	
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.coll3
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  margin: 5px;
  transition: all 1s;
}

img:hover{
  transform: scale(1.1);
}
.clear
{
clear:both;
}
footer
{
  width: auto;
  height: auto;
  
  background:black;
  color:white;
}
.coll2
{
clear:both;
padding:10px;
margin-left:200px;
}

input [type="text"],select,textarea
{
width:30%;
 border:#6cd8d3;
 border-radius:5px;
 padding:10px;
 }
input[type="submit"]
{
  background-color:yellow; 
  padding:19px;
 }
input[type="email"],select,textarea
 {
 background-color:#343f3a;
 padding:20px; 
 color:#6cd8d3;
 }
input[type="radio"],select,textarea
{
background-color:#343f3a; 
padding:30px; 
color :yellow;
}
input [type="text"],select,placeholder
{
background-color:#343f3a; 
padding:30px; 
color:yellow;
}
.coll 
{
float:left;
width:60%; 
border-radius:pink; 
padding:5px;
border:5px solid #b38600;
}
.coll4
{
  float: center;
  width:38%; 
  border-radius:aqua; 
  padding:6px;
  border-radius: 4px solid #996515;
}
.print
{
width:43%;
margin-top:150px;
float:right;
}
.coll5
{
	width:43%;
	padding:10px;
	margin-left:100px;
}
ul {
  list-style-type: square;
  padding: 10px;
  margin: 7px;
}
.wrapper2
{
	padding:10px;
	margin:10px;
	
}
.world
{
	padding:9px;
	margin:7px;
	width:100%;
}

.wrapper4{
width:100%;}

.travy 
{
width:100%;

}

.coll7
{
  width:20%;
  padding:10px;
  margin-left:50px;
  margin-right:25px;
  float:right;
  border-color:black;

}
.coll7:hover
{
opacity: .8;
background-color:#b38600;
}
.coll6
{
width:30%;

float:left;
padding:7px;
margin:10px;
}
.coll9
{
width:23%;

float:left;
padding:10px;
border-color:white;
margin-left:50px;
}
.wrapper3
{
  width:100%;
  text-align:center;
}

.coll0
{
width:20%;
float:left;
padding:20px;
margin-left:50px;
}
.coll99
{
	padding:10px;
	width:22%;
	margin:10px;
	border:10px solid white;
	float:left;
}
footer{
  height: 100px;
  clear: both;
}